@import "tailwindcss";


@theme {
    --color-primary: #ff6600;      /* Orange */
      --color-primaryo: #00000054;      /* Orange */
      --color-secondary: #73ff00;    /* Green */
      --color-accent: #00ff22;       /* Light Green */
      --color-dark: #0c0c0c;         /* Dark background */
      --color-light: #ffffff;        /* White */
      --color-overlay: rgba(0, 0, 0, 0.489);
      --color-dark2: #171717;         /* Dark background */

}